<div class="jumbotron"> 
<div class="container">
  <h1>Hai, {{name}}</h1>
  <div class="row">
    <div class="col-5 bg-success"><u><b>Name of language</b></u></div>

    <div class="col-7 bg-warning"><u><b>Developed by</b></u></div>
   
  </div>
 <div class="row">
    <div class="col-5 bg-success">Python</div>
    
    <div class="col-7 bg-warning"> guido van rosum</div>
   
  </div>
  <div class="row">
    <div class="col-5 bg-success">C</div>
    
    <div class="col-7 bg-warning"> Dennis Ritchie</div>
   
  </div>
  <div class="row">
    <div class="col-5 bg-success">Java</div>
    
    <div class="col-7 bg-warning"> James Gosling</div>
   
  </div>

</div>
</div>
